.navbar{
background-color: deepskyblue;
}
.text-principal {
  font-weight: bold;
  color: #2D1E2F;
  font-family: 'Lobster', cursive;
  font-size: 4rem;
}
.btn-secondary{
margin-left: 15%;
}

button{
  margin-left: 15%;
  margin-top: 1%;
  height: 10%;
  width: 10%;
}
.video{
  margin-top: 3%;
  margin-left: 20%;
  width:100%;
}
iframe{
  border:3px solid black;
  margin-bottom: 5%;
  margin-top: 3%;
}

.a{
  margin-top: 4%;
}

.a img {
  display: block;
}

.backico, .backico3, .backico5, .backico7, .backico9{
  font-size: 3.5rem;
  cursor:pointer;
  margin-left: 25%;
  position: absolute;
}
p{
  font-size: 2rem;
}
.backico2, .backico4, .backico6, .backico8{
  font-size: 3.5rem;
  cursor:pointer;
 margin-left: 85%;
 position: absolute;
}

.c {
margin-top: 10%;
margin-bottom: 10%;
}
.sket{
  margin-bottom: 5%;
}
.white {
  color: white;
}

.cont {
  display: block;
  width: 100%;
}

.list-sketch li{
  font-size: 25px;
  list-style-type: none;
  margin-bottom: 8px;
}

.list-sketch li::before {
  content: '- '
}