* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Hind', sans-serif;
}
.title {
  background-color: rgb(7, 219, 149);
  padding: 3rem;
}

h2 {
  margin: 0;
}
h2:first-child {
  font-size: 5rem;
  font-weight: 500;
  color: white;
}
.hr-white {
  margin: 10px;
}
h2:last-child {
  font-size: 3rem;
  font-weight: 300;
  color: white;
}
.section-1 {
  background-color:  rgb(155, 55, 236);
  padding: 5rem;
}
.section-2 {
  background-color:  rgb(136, 212, 241);
  padding: 6rem;
}
.section-3 {
  background-color:  rgb(155, 55, 236);
  padding: 15rem;
}
.section-4 {
  background-color:  rgb(129, 211, 243);
  padding: 5rem;
}
.icon {
  color: white;
  font-size: 5rem;
}
.icon-title {
  color: white;
  font-size: 3rem;
  font-weight: 300;
}
.section-text {
  padding-top: 1rem;
  font-size: 1.7rem;
  color:  rgb(90, 27, 141);
  font-weight: 500;
}
hr {
  margin: 0;
  padding: 3px;
}
.padding {
  padding-left: 10rem;
}