<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Hind:300,500,700" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../css/tecnicas.css">
  <title>Técnicas de presentación</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 title text-center">
        <h2>Técnicas</h1>
        <hr class="hr-white">
        <h2>de presentación</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center section-1">
        <span class="glyphicon glyphicon-search icon" aria-hidden="true"></span>
        <h4 class="icon-title">Técnicas</h4>
      </div>
      <div class="col-md-6 section-text text-center">
        <p>Storytelling -> contar casos</p>
        <hr>
        <p>Emotions -> puntos de dolor</p>
        <hr>
        <p>Empathy</p>
        <hr>
        <p>Tell - show - tell</p>
        <hr>
        <p>Story close</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 section-text text-center">
        <p>Las historias se recuerdan mucho más.</p>
        <hr>
        <p>Entender necesidades concretas.</p>
        <hr>
        <p>La memoria es selectiva.</p>
        <hr>
        <p>Factor sorpresa -> pregunta, chiste</p>
        <hr>
        <p>Decisiones basadas en emociones</p>
        </div>
      <div class="col-md-6 text-center section-2">
        <span class="glyphicon glyphicon-grain icon" aria-hidden="true"></span>
        <h4 class="icon-title">Ventajas</h4>
      </div>
    </div>
  <div class="row">
      <div class="col-md-6 text-center section-3">
        <span class="glyphicon glyphicon-refresh icon" aria-hidden="true"></span>
        <h4 class="icon-title">Presentaciones fáciles de recordar</h4>
      </div>
      <div class="col-md-6 section-text text-left padding">
        <p>Level 1 - Instant noodles -> fácil de leer, fácil de preparar</p>
        <p>Recuerda: La agenda es importante.</p>
        <p>Dosificar la información -> un plato a la vez.</p>
        <p>Las infografías son buenas.</p>
        <br>
        <hr>
        <p>Level 2 - Estructura cuando es bastante informacoón</p>
        <p>Presentación gráfica que me ayude.</p>
        <p>Cuando hables, que sea creíble.</p>
        <br>
        <hr>    
        <p>Level 3</p>
        <p>Las historias siempre se recuerdan -> Storytelling</p>
        <p>Podrías relacionar casos personales con laborales</p>  
        <p>Usar imágenes para hacer referencia a las cosas.</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 section-text text-center">
          <p>Siempre busca emocionar a tu público.</p>
          <hr>
          <p>¿So what? -> (y qué?) -> qué es lo que ofreces.</p>
          <hr>
          <p>Las expectativas son importantes.</p>
          </div>
        <div class="col-md-6 text-center section-4">
          <span class="glyphicon glyphicon-heart icon" aria-hidden="true"></span>
          <h4 class="icon-title">Emociones</h4>
        </div>
      </div>
  </div>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/app.js"></script>
</body>
</html>